<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">

  <p class="hint section-hint">{{localize "CALENDARIA.Format.SettingsHint"}}</p>

  {{#each formatCategories}}
  <fieldset>
    <legend>{{label}}</legend>

    {{#each locations}}
    <div class="format-location" data-location="{{id}}">
      <div class="form-group">
        <label>{{label}}</label>
      </div>

      <div class="format-row">
        <div class="format-column">
          <span class="format-label">{{localize "CALENDARIA.Format.GMFormat"}}</span>
          <select name="displayFormats.{{id}}.gmPreset" data-location="{{id}}" data-role="gm">
            {{#each gmPresetOptions}}
            <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
            {{/each}}
          </select>
          <input type="text"
            name="displayFormats.{{id}}.gmCustom"
            value="{{#if isCustomGM}}{{gmFormat}}{{/if}}"
            placeholder="D MMMM YYYY"
            class="format-custom-input {{#unless isCustomGM}}hidden{{/unless}}"
            data-location="{{id}}"
            data-role="gm">
        </div>

        <div class="format-column">
          <span class="format-label">{{localize "CALENDARIA.Format.PlayerFormat"}}</span>
          <select name="displayFormats.{{id}}.playerPreset" data-location="{{id}}" data-role="player">
            {{#each playerPresetOptions}}
            <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
            {{/each}}
          </select>
          <input type="text"
            name="displayFormats.{{id}}.playerCustom"
            value="{{#if isCustomPlayer}}{{playerFormat}}{{/if}}"
            placeholder="D MMMM YYYY"
            class="format-custom-input {{#unless isCustomPlayer}}hidden{{/unless}}"
            data-location="{{id}}"
            data-role="player">
        </div>
      </div>
    </div>
    {{/each}}

  </fieldset>
  {{/each}}

  <fieldset>
    <legend>{{localize "CALENDARIA.Format.TokenReference"}}</legend>
    <div class="token-reference">
      <div class="token-group">
        <h4>{{localize "CALENDARIA.Format.DateTokens"}}</h4>
        <div class="token-grid">
          <span class="token-header">{{localize "CALENDARIA.Format.TokenHeader"}}</span>
          <span class="token-header">{{localize "CALENDARIA.Format.DescriptionHeader"}}</span>
          <code>YYYY</code><span>{{localize "CALENDARIA.Format.Token.YYYY"}}</span>
          <code>YY</code><span>{{localize "CALENDARIA.Format.Token.YY"}}</span>
          <code>MMMM</code><span>{{localize "CALENDARIA.Format.Token.MMMM"}}</span>
          <code>MMM</code><span>{{localize "CALENDARIA.Format.Token.MMM"}}</span>
          <code>MM</code><span>{{localize "CALENDARIA.Format.Token.MM"}}</span>
          <code>M</code><span>{{localize "CALENDARIA.Format.Token.M"}}</span>
          <code>DD</code><span>{{localize "CALENDARIA.Format.Token.DD"}}</span>
          <code>D</code><span>{{localize "CALENDARIA.Format.Token.D"}}</span>
          <code>Do</code><span>{{localize "CALENDARIA.Format.Token.Do"}}</span>
          <code>dddd</code><span>{{localize "CALENDARIA.Format.Token.dddd"}}</span>
          <code>ddd</code><span>{{localize "CALENDARIA.Format.Token.ddd"}}</span>
        </div>
      </div>
      <div class="token-group">
        <h4>{{localize "CALENDARIA.Format.TimeTokens"}}</h4>
        <div class="token-grid">
          <span class="token-header">{{localize "CALENDARIA.Format.TokenHeader"}}</span>
          <span class="token-header">{{localize "CALENDARIA.Format.DescriptionHeader"}}</span>
          <code>HH</code><span>{{localize "CALENDARIA.Format.Token.HH"}}</span>
          <code>H</code><span>{{localize "CALENDARIA.Format.Token.H"}}</span>
          <code>hh</code><span>{{localize "CALENDARIA.Format.Token.hh"}}</span>
          <code>h</code><span>{{localize "CALENDARIA.Format.Token.h"}}</span>
          <code>mm</code><span>{{localize "CALENDARIA.Format.Token.mm"}}</span>
          <code>A</code><span>{{localize "CALENDARIA.Format.Token.A"}}</span>
          <code>a</code><span>{{localize "CALENDARIA.Format.Token.a"}}</span>
        </div>
      </div>
      <div class="token-group">
        <h4>{{localize "CALENDARIA.Format.FantasyTokens"}}</h4>
        <div class="token-grid">
          <span class="token-header">{{localize "CALENDARIA.Format.TokenHeader"}}</span>
          <span class="token-header">{{localize "CALENDARIA.Format.DescriptionHeader"}}</span>
          <code>[approxTime]</code><span>{{localize "CALENDARIA.Format.Token.approxTime"}}</span>
          <code>[approxDate]</code><span>{{localize "CALENDARIA.Format.Token.approxDate"}}</span>
          <code>[moon]</code><span>{{localize "CALENDARIA.Format.Token.moon"}}</span>
          <code>[era]</code><span>{{localize "CALENDARIA.Format.Token.era"}}</span>
          <code>[season]</code><span>{{localize "CALENDARIA.Format.Token.season"}}</span>
          <code>[ch]</code><span>{{localize "CALENDARIA.Format.Token.ch"}}</span>
        </div>
      </div>
    </div>
  </fieldset>

</section>
