<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">

  <div class="form-group stacked button-row open-app-button">
    <button type="button" data-action="openHUD">
      <i class="fas fa-external-link-alt"></i>
      {{localize "CALENDARIA.Common.Open"}}
    </button>
  </div>

  <fieldset>
    <legend>{{localize "CALENDARIA.SettingsPanel.Section.Display"}}</legend>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Settings.ShowCalendarHUD.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="showCalendarHUD" {{#if showCalendarHUD}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.Settings.ShowCalendarHUD.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Settings.CalendarHUDMode.Name"}}</label>
      <div class="form-fields">
        <select name="calendarHUDMode">
          {{#each hudModeOptions}}
          <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
          {{/each}}
        </select>
      </div>
      <p class="hint">{{localize "CALENDARIA.Settings.CalendarHUDMode.Hint"}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize "CALENDARIA.SettingsPanel.Section.StickyStates"}}</legend>
    <input type="hidden" name="hudStickySection" value="1">

    <div class="form-group">
      <label>{{localize "CALENDARIA.SettingsPanel.Sticky.Tray"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="hudStickyTray" {{#if hudStickyTray}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.SettingsPanel.Hint.StickyTray"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Common.LockPosition"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="calendarHUDLocked" {{#if calendarHUDLocked}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.SettingsPanel.Hint.LockHUDPosition"}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize "CALENDARIA.SettingsPanel.Section.Position"}}</legend>

    <div class="form-group stacked button-row">
      <button type="button" data-action="resetPosition" data-target="hud">
        <i class="fas fa-undo"></i>
        {{localize "CALENDARIA.Common.ResetPosition"}}
      </button>
    </div>
  </fieldset>

</section>
