<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">

  <div class="button-row open-app-button">
    <button type="button" data-action="openTimeKeeper">
      <i class="fas fa-external-link-alt"></i>
      {{localize "CALENDARIA.SettingsPanel.OpenTimeKeeper"}}
    </button>
    <button type="button" data-action="closeTimeKeeper">
      <i class="fas fa-times"></i>
      {{localize "CALENDARIA.SettingsPanel.CloseTimeKeeper"}}
    </button>
    <button type="button" data-action="resetPosition" data-target="timekeeper">
      <i class="fas fa-undo"></i>
      {{localize "CALENDARIA.Common.ResetPosition"}}
    </button>
  </div>

  <fieldset>
    <legend>{{localize "CALENDARIA.SettingsPanel.Section.Display"}}</legend>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Settings.ShowTimeKeeper.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="showTimeKeeper" {{#if showTimeKeeper}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.Settings.ShowTimeKeeper.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Settings.AutoFade.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="timeKeeperAutoFade" {{#if timeKeeperAutoFade}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.Settings.AutoFade.Hint"}}</p>
    </div>

    <div class="form-group{{#unless timeKeeperAutoFade}} disabled{{/unless}}">
      <label>{{localize "CALENDARIA.Settings.IdleOpacity.Name"}}</label>
      <div class="form-fields">
        <input type="range" name="timeKeeperIdleOpacity" min="0" max="100" value="{{timeKeeperIdleOpacity}}" {{#unless timeKeeperAutoFade}}disabled{{/unless}}>
        <input type="number" class="range-value" min="0" max="100" value="{{timeKeeperIdleOpacity}}" style="width: 48px; flex: none" {{#unless timeKeeperAutoFade}}disabled{{/unless}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.Settings.IdleOpacity.Hint"}}</p>
    </div>
  </fieldset>

  {{#if isGM}}
  <fieldset>
    <legend>{{localize "CALENDARIA.SettingsPanel.Section.Stopwatch"}}</legend>

    <div class="form-group">
      <label>{{localize "CALENDARIA.Settings.StopwatchAutoStartTime.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="stopwatchAutoStartTime" {{#if stopwatchAutoStartTime}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.Settings.StopwatchAutoStartTime.Hint"}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize "CALENDARIA.SettingsPanel.Section.CustomTimeJumps"}}</legend>
    <p class="hint section-hint">{{localize "CALENDARIA.SettingsPanel.Hint.CustomTimeJumps"}}</p>

    <div class="time-jumps-grid timekeeper-jumps">
      <div class="time-jumps-header">
        <span></span>
        <span>&lt;&lt;</span>
        <span>&lt;</span>
        <span>&gt;</span>
        <span>&gt;&gt;</span>
      </div>
      {{#each timeKeeperTimeJumps}}
      <div class="time-jumps-row">
        <label>{{label}}</label>
        <input type="number" name="timeKeeperTimeJumps.{{key}}.dec2" value="{{jumps.dec2}}" placeholder="-5">
        <input type="number" name="timeKeeperTimeJumps.{{key}}.dec1" value="{{jumps.dec1}}" placeholder="-1">
        <input type="number" name="timeKeeperTimeJumps.{{key}}.inc1" value="{{jumps.inc1}}" placeholder="1">
        <input type="number" name="timeKeeperTimeJumps.{{key}}.inc2" value="{{jumps.inc2}}" placeholder="5">
      </div>
      {{/each}}
    </div>
  </fieldset>
  {{/if}}

</section>
