<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">

  <fieldset>
    <legend>{{localize "CALENDARIA.SettingsPanel.Section.Display"}}</legend>

    {{#if isGM}}
    <div class="form-group">
      <label>{{localize "CALENDARIA.Settings.ShowMoonPhases.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="showMoonPhases" {{#if showMoonPhases}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.Settings.ShowMoonPhases.Hint"}}</p>
    </div>
    {{/if}}
  </fieldset>

</section>
