<section class="theme-editor-content scrollable">
  {{!-- Color Categories Grid --}}
  <div class="color-categories-grid">
    {{#each categories}}
      <fieldset class="color-category">
        <legend>{{localize this.label}}</legend>

        {{#each this.colors}}
          <div class="form-group color-row">
            <label>{{localize this.label}}</label>
            <div class="form-fields color-fields">
              <input type="color" name="colors.{{this.key}}" value="{{this.value}}" data-key="{{this.key}}">
              <input type="text" class="color-hex" value="{{this.value}}" readonly>
              {{#if this.isCustom}}
                <button type="button" class="reset-color" data-action="resetColor" data-key="{{this.key}}"
                        title="{{localize 'CALENDARIA.ThemeEditor.ResetToDefault'}}">
                  <i class="fas fa-undo"></i>
                </button>
              {{else}}
                <span class="default-indicator" title="{{localize 'CALENDARIA.ThemeEditor.UsingDefault'}}">
                  <i class="fas fa-check"></i>
                </span>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </fieldset>
    {{/each}}
  </div>
</section>
