<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  {{#if isPeriodic}}
    <p class="hint seasons-hint">{{localize "CALENDARIA.Editor.Hint.SeasonsFieldsPeriodic"}}</p>
  {{else}}
    <p class="hint seasons-hint">{{localize "CALENDARIA.Editor.Hint.SeasonsFields"}}</p>
  {{/if}}
  <p class="hint seasons-hint">{{localize "CALENDARIA.Editor.Hint.SeasonalType"}}</p>

  <div class="form-group season-type-group">
    <label for="editor-season-type">{{localize "CALENDARIA.Editor.Season.TypeLabel"}}</label>
    <div class="form-fields">
      <select id="editor-season-type" name="seasons.type" class="season-type-select">
        {{#each seasonTypeOptions}}
          <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{localize this.label}}</option>
        {{/each}}
      </select>
    </div>
    <p class="hint">{{localize "CALENDARIA.Editor.Hint.SeasonType"}}</p>
  </div>

  {{#if isPeriodic}}
    <div class="form-group season-offset-group">
      <label for="editor-season-offset">{{localize "CALENDARIA.Editor.Season.OffsetLabel"}}</label>
      <div class="form-fields">
        <input type="number" id="editor-season-offset" name="seasons.offset" value="{{seasonOffset}}" min="0"
          class="season-offset-input">
      </div>
      <p class="hint">{{localize "CALENDARIA.Editor.Hint.SeasonOffset"}}</p>
    </div>
  {{/if}}

  {{#if seasonsWithNav.length}}
    <div class="items-list seasons-list">
      {{#each seasonsWithNav}}
        <div class="item season-item" data-index="{{this.index}}">
          {{#if ../isPeriodic}}
            <div class="season-row-single flexrow">
              <input type="text" id="editor-season-{{this.index}}-name" name="seasons.{{this.index}}.name"
                value="{{this.name}}" class="col-name" placeholder="{{localize 'CALENDARIA.Common.Name'}}">
              <input type="text" id="editor-season-{{this.index}}-abbr" name="seasons.{{this.index}}.abbreviation"
                value="{{this.abbreviation}}" class="col-abbr"
                placeholder="{{localize 'CALENDARIA.Common.Abbreviation'}}">
              <input type="text" id="editor-season-{{this.index}}-icon" name="seasons.{{this.index}}.icon"
                value="{{this.icon}}" placeholder="fas fa-leaf" class="col-icon"
                data-tooltip="{{localize 'CALENDARIA.Common.IconHint'}}">
              <input type="color" id="editor-season-{{this.index}}-color" name="seasons.{{this.index}}.color"
                value="{{this.color}}" class="col-color">
              <select id="editor-season-{{this.index}}-type" name="seasons.{{this.index}}.seasonalType"
                class="col-seasonal-type">
                {{#each this.seasonalTypeOptions}}
                  <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{localize this.label}}</option>
                {{/each}}
              </select>
              <input type="number" id="editor-season-{{this.index}}-duration" name="seasons.{{this.index}}.duration"
                value="{{this.duration}}" min="1" placeholder="91" class="col-duration">
              <div class="item-controls col-controls">
                <button type="button" data-action="addSeason" data-index="{{this.index}}" data-tooltip
                  aria-label="{{localize 'CALENDARIA.Editor.Tooltip.AddSeason'}}">
                  <i class="fas fa-plus"></i>
                </button>
                <button type="button" data-action="removeSeason" data-index="{{this.index}}" data-tooltip
                  aria-label="{{localize 'CALENDARIA.Editor.Tooltip.RemoveSeason'}}">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          {{else}}
            <div class="season-row-top flexrow">
              <input type="text" id="editor-season-{{this.index}}-name" name="seasons.{{this.index}}.name"
                value="{{this.name}}" class="col-name" placeholder="{{localize 'CALENDARIA.Common.Name'}}">
              <input type="text" id="editor-season-{{this.index}}-abbr" name="seasons.{{this.index}}.abbreviation"
                value="{{this.abbreviation}}" class="col-abbr"
                placeholder="{{localize 'CALENDARIA.Common.Abbreviation'}}">
              <input type="text" id="editor-season-{{this.index}}-icon" name="seasons.{{this.index}}.icon"
                value="{{this.icon}}" placeholder="fas fa-leaf" class="col-icon"
                data-tooltip="{{localize 'CALENDARIA.Common.IconHint'}}">
              <input type="color" id="editor-season-{{this.index}}-color" name="seasons.{{this.index}}.color"
                value="{{this.color}}" class="col-color">
              <div class="item-controls col-controls">
                <button type="button" data-action="addSeason" data-index="{{this.index}}" data-tooltip
                  aria-label="{{localize 'CALENDARIA.Editor.Tooltip.AddSeason'}}">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="season-row-bottom flexrow">
              <select id="editor-season-{{this.index}}-start-month" name="seasons.{{this.index}}.monthStart"
                class="col-start-month">
                {{#each this.startMonthOptions}}
                  <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
                {{/each}}
              </select>
              <input type="number" id="editor-season-{{this.index}}-start-day" name="seasons.{{this.index}}.dayStart"
                value="{{this.displayStartDay}}" min="1" placeholder="{{localize 'CALENDARIA.Common.Day'}}"
                class="col-start-day">
              <select id="editor-season-{{this.index}}-end-month" name="seasons.{{this.index}}.monthEnd"
                class="col-end-month">
                {{#each this.endMonthOptions}}
                  <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
                {{/each}}
              </select>
              <input type="number" id="editor-season-{{this.index}}-end-day" name="seasons.{{this.index}}.dayEnd"
                value="{{this.displayEndDay}}" min="1" placeholder="{{localize 'CALENDARIA.Common.Day'}}"
                class="col-end-day">
              <select id="editor-season-{{this.index}}-type" name="seasons.{{this.index}}.seasonalType"
                class="col-seasonal-type">
                {{#each this.seasonalTypeOptions}}
                  <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{localize this.label}}</option>
                {{/each}}
              </select>
              <div class="item-controls col-controls">
                <button type="button" data-action="removeSeason" data-index="{{this.index}}" data-tooltip
                  aria-label="{{localize 'CALENDARIA.Editor.Tooltip.RemoveSeason'}}">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class="empty-list">
      <p>{{localize "CALENDARIA.Editor.NoSeasons"}}</p>
      <button type="button" data-action="addSeason" data-index="-1">
        <i class="fas fa-plus"></i>
        {{localize "CALENDARIA.Editor.AddSeason"}}
      </button>
    </div>
  {{/if}}
</section>
